<div>
  <h3>Single Row Selection</h3>
  <div style='float:left;width:75%'>
    <input
      type='text'
      style='padding:8px;margin:15px auto;width:30%;'
      placeholder='Type to filter the name column...'
      (keyup)='updateFilter($event)'
    />
    <datatable
      class="material"
      [rows]="rows"
      [columnMode]="'force'"
      [columns]="columns"
      [headerHeight]="50"
      [footerHeight]="50"
      [rowHeight]="'auto'"
      [limit]="5"
      [selected]="selected"
      [selectionType]="'multi'"
      (activate)="onActivate($event)"
      (select)='onSelect($event)'>
    </datatable>
  </div>

  <div class='selected-column' style='float:left;width:25%'>
    <ul>
      <div *ngIf='selected.length'>
        <chart-demo [selected]="selected"></chart-demo>
      </div>
      <li *ngIf="!selected.length">No Selections</li>
    </ul>
  </div>
</div>
